/*html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('./assets/images/background-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    url('./assets/images/pattern-squiggly-line-top.svg'),
    url('./assets/images/pattern-squiggly-line-bottom-desktop.svg'),
    url('./assets/images/pattern-lines.svg'),
    url('./assets/images/pattern-circle.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-position: top left, bottom center, top right, center;
  background-size: cover, cover, cover, cover;
  opacity: 0.3; 
  pointer-events: none;
  z-index: 0;
}*/
html, body{
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0f0f1a;
}
body {
    background-image:
        url('./assets/images/pattern-squiggly-line-top.svg'),
        url('./assets/images/pattern-squiggly-line-bottom-desktop.svg'),
        url('./assets/images/pattern-lines.svg'),
        url('./assets/images/pattern-circle.svg'),
        url('./assets/images/background-desktop.png'); /* base layer */

    background-repeat: no-repeat, no-repeat, no-repeat, repeat, no-repeat;
    background-position: top left, bottom center, top right, center, center;
    background-size: cover, cover, cover, cover, cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.info-note {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
    margin-top: 6px;
}
.info-note .icon {
    font-size: 14px;
    margin-right: 6px;
}
